<!-- Copied from the swagger-ui static file -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Terra Scientific Pipelines Service Swagger UI</title>
    <link rel="stylesheet" type="text/css" href="/webjars/swagger-ui-dist/swagger-ui.css" >
    <link rel="icon" type="image/png" href="/webjars/swagger-ui-dist/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/webjars/swagger-ui-dist/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" type="text/css" href="/swagger-ui-custom.css" >
  </head>

  <body>
    <div id="swagger-ui" th:attr="data-client-id=${clientId}"></div>

    <script src="/webjars/swagger-ui-dist/swagger-ui-bundle.js"> </script>
    <script src="/webjars/swagger-ui-dist/swagger-ui-standalone-preset.js"> </script>
    <script src="/swagger-ui-init.js"></script>
  </body>
</html>
