name: Run Teaspoons e2e tests with BEE using GCP workspace
on:
  workflow_dispatch:
    inputs:
      custom-app-version:
        description: 'custom image tag to specify which version of teaspoons to deploy, e.g. `0.0.81-66ceced`. defaults to version template if not specified.'
        required: false
        type: string
      e2e-test-version-ref:
        description: 'Name of branch or commit hash in the terra-github-workflows repo to use. Defaults to main'
        required: true
        default: 'main'
        type: string
      wdl-method-version:
        description: 'Name of branch or release tag in the terra-scientific-pipelines-service repo to use for the test WDL. defaults to latest git release tag if not specified.'
        required: false
        type: string
      version-template:
        description: 'version template to copy. defaults to dev'
        default: 'dev'
        required: true
        type: choice
        options:
          - dev
          - staging
          - prod
env:
  BEE_NAME: 'teaspoons-${{ github.run_id }}-${{ github.run_attempt}}-dev'
  TOKEN: '${{ secrets.BROADBOT_TOKEN }}'
  RUN_NAME_SUFFIX: ${{ github.event.repository.name }}-${{ github.run_id }}-${{github.run_attempt }}
jobs:
  init-github-context-and-params-gen:
    runs-on: ubuntu-latest
    outputs:
      delete-bee: '${{ steps.extract-inputs-and-generate-params.outputs.delete-bee }}'
      custom-app-version-formatted: '${{ steps.extract-inputs-and-generate-params.outputs.custom-app-version-formatted }}'
      project-name: '${{ steps.extract-inputs-and-generate-params.outputs.project_name }}'
      bee-name: '${{ env.BEE_NAME }}'
      wdl-method-version: '${{ steps.extract-inputs-and-generate-params.outputs.wdl-method-version }}'
      version-template: '${{ steps.extract-inputs-and-generate-params.outputs.version-template }}'
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Get inputs or use defaults, generate other parameters
        id: extract-inputs-and-generate-params
        run: |
          echo "delete-bee=${{ inputs.delete-bee || true }}" >> $GITHUB_OUTPUT
          if [ -z ${{ inputs.custom-app-version }} ]; then
            echo "custom-app-version-formatted={}" >> $GITHUB_OUTPUT
          else
            echo "custom-app-version-formatted={\\\"teaspoons\\\": {\\\"appVersion\\\":\\\"${{ inputs.custom-app-version }}\\\"} }" >> $GITHUB_OUTPUT
          fi
          project_name=$(echo "tmp-billing-project-$(uuidgen)" | cut -c -30)
          echo "project_name=${project_name}" >> $GITHUB_OUTPUT
          if [ -z ${{ inputs.wdl-method-version }} ]; then
            echo "found latest git tag: $(git describe --tags $(git rev-list --tags --max-count=1))"
            echo "wdl-method-version=$(git describe --tags $(git rev-list --tags --max-count=1))" >> $GITHUB_OUTPUT
          else
            echo "wdl-method-version=${{ inputs.wdl-method-version }}" >> $GITHUB_OUTPUT
          fi
          if [ -z ${{ inputs.version-template }} ]; then
            echo "version-template=dev" >> $GITHUB_OUTPUT
          else
            echo "version-template=${{ inputs.version-template }}" >> $GITHUB_OUTPUT
          fi

  create-bee-workflow:
    runs-on: ubuntu-latest
    needs: [ init-github-context-and-params-gen ]
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Get actions
        uses: actions/checkout@v6

      - name: dispatch to terra-github-workflows
        id: FirstAttemptCreateBee
        uses: ./.github/actions/create-bee
        with:
          run_name: "bee-create-${{ env.BEE_NAME }}"
          bee_name: ${{ env.BEE_NAME }}
          token: '${{ env.TOKEN }}'
          custom_version_json: ${{ needs.init-github-context-and-params-gen.outputs.custom-app-version-formatted }}
          version-template: ${{ needs.init-github-context-and-params-gen.outputs.version-template }}

  run-e2e-test-job:
    runs-on: ubuntu-latest
    needs: [ create-bee-workflow, init-github-context-and-params-gen ]
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Dispatch to terra-github-workflows to run e2e test
        uses: broadinstitute/workflow-dispatch@v4.0.0
        with:
          workflow: teaspoons-bee-e2e-service-test
          run-name: "teaspoons-bee-e2e-service-test-${{ github.run_id }}-${{ github.run_attempt }}"
          repo: broadinstitute/terra-github-workflows
          ref: refs/heads/sps_move_tsps_e2e_tests # TODO - change this to main
          token: '${{ env.TOKEN }}'
          wait-for-completion: true
          inputs: '{
              "run-name": "teaspoons-bee-env-e2e-service-test-${{ github.run_id }}-${{ github.run_attempt }}",
              "billing-project-name": "${{ needs.init-github-context-and-params-gen.outputs.project-name }}",
              "bee-name": "${{ needs.init-github-context-and-params-gen.outputs.bee-name }}",
              "e2e-test-version-ref": "${{ github.event.inputs.e2e-test-version-ref }}",
              "wdl-method-version": "${{ needs.init-github-context-and-params-gen.outputs.wdl-method-version }}"
            }'

  destroy-bee-workflow:
    runs-on: ubuntu-latest
    needs: [ run-e2e-test-job ]
    if: '${{ needs.init-github-context-and-params-gen.outputs.delete-bee && always() }}'
    steps:
      - name: dispatch to terra-github-workflows
        uses: broadinstitute/workflow-dispatch@v4
        with:
          workflow: bee-destroy
          repo: broadinstitute/terra-github-workflows
          ref: refs/heads/main
          wait-for-completion: false
          token: '${{ env.TOKEN }}'
          inputs: '{ "bee-name": "${{ env.BEE_NAME }}" }'

#  report-workflow:
#    needs: [ init-github-context-and-params-gen ]
#    uses: broadinstitute/sherlock/.github/workflows/client-report-workflow.yaml@main
#    if: github.ref == 'refs/heads/main'
#    with:
#      notify-slack-channels-upon-workflow-completion: "#terra-teaspoons-alerts"
#      relates-to-chart-releases: "teaspoons-${{ needs.init-github-context-and-params-gen.outputs.version-template }}"
#      notify-slack-custom-icon: ":tsps-logo:"
#    permissions:
#      id-token: write
#
#  report-workflow-against-staging-to-qa:
#    needs: [ init-github-context-and-params-gen ]
#    uses: broadinstitute/sherlock/.github/workflows/client-report-workflow.yaml@main
#    if: github.ref == 'refs/heads/main' && needs.init-github-context-and-params-gen.outputs.version-template == 'staging'
#    with:
#      notify-slack-channels-upon-workflow-completion: "#dsde-qa"
#      relates-to-chart-releases: "teaspoons-${{ needs.init-github-context-and-params-gen.outputs.version-template }}"
#      notify-slack-custom-icon: ":tsps-logo:"
#    permissions:
#      id-token: write
